
@{
    ViewBag.Title = "Index";
}

<h3>Transflower Learning Pvt. Ltd.</h3>
<hr />
<a href="/home/index">Home</a> |<a href="/home/aboutus">About us</a> |<a href="/home/contact">Contact Us</a> |<a href="/home/services">Out Services</a>
<hr />

<h4>@ViewBag.CompanyName</h4>